# ---> CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CmakeSettngs.json
vcpkg.json

# JetBrains
.idea/
# CMake
cmake-build-*/
# vscode
.idea/
build/
.vscode/
# visual stdio
.vs/
CMakeSettings.json
# Trae
.trae/

# vcpkg
vcpkg.json

# temp file
pipeline_cache.bin
imgui.ini

# any conda environment
*.conda

# locally used scrips for constant computation, data processing, etc.
local_scripts/

# Data directory for applications/3d_viewer
applications/3d_viewer/data/
/applications/3d_viewer/viewer_scene.json

# AI Agent related stuff
AGENTS.md
*/*PLAN.md
/.claude/settings.local.json