[submodule "external/VulkanMemoryAllocator-Hpp"]
	path = external/VulkanMemoryAllocator-Hpp
	url = https://github.com/Hineven/VulkanMemoryAllocator-Hpp
[submodule "applications/3d_viewer/pymi"]
	path = applications/3d_viewer/pymi
	url = https://gitee.com/hineven/pymi
[submodule "external/ncnn"]
	path = external/ncnn
	url = https://github.com/Tencent/ncnn/
[submodule "external/DLSS"]
	path = external/DLSS
	url = https://github.com/NVIDIA/DLSS.git
